@model IEnumerable<EducationalSoftware.Models.Tests>

@{
    ViewBag.Title = "Quiz";
}

<h2>Quiz</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
@foreach (var item in Model) {
    var options = (new List<string> { item.answerA, item.answerB, item.answerC }).OrderBy(a => Guid.NewGuid()).ToList();
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.Question)
        </th>

        <td>
            @options[0]
        </td>
        <td>
            @options[1]
        </td>
        <td>
            @options[2]
        </td>
    </tr>
}

</table>
