@model EducationalSoftware.Models.Content

<h1>@Model.Title</h1>
<div>
    @Html.Raw(Model.ChapContent)
</div>

<div>

    <h5 style="text-align: center; margin-top: 50px; margin-bottom: 100px;">You have visited this page: @ViewData["totalVisits"]</h5>

    <button type="button" style="height: 70px; width: 200px; ">
        @Html.ActionLink("Ready to take the Test!", "Quiz", "Lesson", new { contentId = Model.Id }, null)
    </button>

    @if (ViewData["submitFinalTest"] != null)
    {
        <button type="button" style="height: 70px; width: 200px; margin-left: 150px;">
            @Html.ActionLink($"Take Final Test", "Final", "Lesson", new { chaterpId = Model.chapId }, null)
        </button>
    }
    @if (ViewData["NextChapter"] != null)
    {
        var nextChapter = (EducationalSoftware.Models.Content)ViewData["NextChapter"];
        <button type="button" style="height: 70px; width: 200px; margin-left: 150px;">
            @Html.ActionLink($"Next Chapter: {nextChapter.Title}", "Index", "Lesson", new { contentId = nextChapter.Id }, null)
        </button>
    }

</div>
