@{
    ViewBag.Title = "Home Page";
}

<style>
    td, tr, th {
        text-align: center;
        padding: 15px;
    }

    .button {
        padding: 15px 42px;
        margin-left: 155px;
        margin-right: 15px;
        box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
        line-height: 1.25;
        background: #688b5f;
        color: white;
        font-size: 16px;
        letter-spacing: .08em;
        text-transform: uppercase;
        transition: background-color .6s ease;
    }
</style>

<script>
    function Openform() {
        alert("This is the Home page, First create an account and login, once you are in you will be presented with all the available courses, their tests and your results");
    }
</script>

<h2>Welcome to the Educational Software Platform</h2>
@if (Session["id"] == null)
{
    <h5 style="padding-bottom: 10px;">In order to use a function you first must login !</h5>
}
else
{
    <br />
    <br />
    <h4> What would you like to do?</h4>
    <br />
    <br />

    <a href="~/Lesson/MyScores" class="button" id="button">Check your test Results</a>
    <a href="~/Lesson/MyScoresFinals" class="button" id="button">Check your Final test Results</a>
    <br />
    <br />

    <div style="margin-top: 55px;">
        <table class="table">
            <tr>
                <th>
                    Μαθήματα
                </th>
                <th>
                    Test
                </th>
                <th>
                    Report
                </th>
            </tr>
            @foreach (var i in (List<EducationalSoftware.Models.Chapters>)ViewData["Chapters"])
            {
                <tr>
                    <td>
                        <a contentid="@i.Id" href="~/Lesson/Index?contentID=@i.Id">@i.ChapterTitle</a>
                    </td>
                    <td>
                        <a contentid="@i.Id" href="~/Lesson/Quiz?contentID=@i.Id">Take the first @i.ChapterTitle Test</a>
                    </td>
                    <td>
                        <a contentid="@i.Id" href="~/Lesson/MyScores?contentID=@i.Id">@i.ChapterTitle Test results</a>
                    </td>
                </tr>
            }
        </table>
    </div>
}
    @if (TempData["success"] != null)
    {
        <div style="color: white;padding: 5px;background-color: #51973f;"><h3>@TempData["success"]</h3> </div>
    }
    @if (TempData["error"] != null)
    {
        <div style="color: white; padding: 5px; background-color: #d13a3a;"><h3>@TempData["error"]</h3></div>
    }
