@{
    ViewBag.Title = "Home Page";
}

<style>
    td, tr, th {
        text-align: center;
        padding: 15px;
    }
</style>

<h2>Welcome to the Educational Software Platform</h2>
@if (Session["id"] == null)
{
    <h5 style="padding-bottom: 10px;">In order to use a user's type function you first must login !</h5>
}
else
{
    <h5> What would you like to do?</h5>

    <div>
        <table class="table">
            <tr>
                <th>
                    Μαθήματα
                </th>
                <th>
                    Test
                </th>
                <th>
                    Report
                </th>
            </tr>
            @foreach (var i in (List<EducationalSoftware.Models.Chapters>)ViewData["Chapters"])
            {
                <tr>
                    <td>
                        <a contentid="@i.Id" href="~/Lesson/Index?contentID=@i.Id">@i.ChapterTitle</a>
                    </td>
                    <td>
                        <a contentid="@i.Id" href="~/Lesson/Quiz?contentID=@i.Id">@i.ChapterTitle Test</a>
                    </td>
                    <td>
                        <a contentid="@i.Id" href="~/Lesson/MyScores?contentID=@i.Id">@i.ChapterTitle Test results</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div style="background-color:green">@TempData["success"]</div>

    <div style="background-color:red">@TempData["error"]</div>
}


