@{
    ViewBag.Title = "Home Page";
}

<style>
    td, tr, th {
        text-align: center;
        padding: 15px;
    }
</style>

<h2>Welcome to the Educational Software Platform</h2>
@if (Session["id"] == null)
{
    <h5 style="padding-bottom: 10px;">In order to use a user's type function you first must login !</h5>
}
else
{
    <h5> What would you like to do?</h5>

    <div>
        <table class="table">
            <tr>
                <th>
                    Μαθήματα
                </th>
                <th>
                    Test
                </th>
                <th>
                    Report
                </th>
            </tr>
            <tr>
                <td>
                    <a contentid="1" href="~/Lesson/Index?contentID=1">Learn about C#</a>
                </td>
                <td>
                    @Html.ActionLink("xxxx", "Index", "Lesson", new { contentID = 2 })
                </td>
                <td>
                    @Html.ActionLink("xxxx", "Index", "Lesson", new { contentID = 3 })
                </td>
            </tr>
            <tr>
                <td>
                    <a contentid="1" href="~/Lesson/Index?contentID=2">Learn about Git</a>
                </td>
                <td>
                    @Html.ActionLink("xxxx", "GetAppointment", "Doctor")
                </td>
                <td>
                    @Html.ActionLink("xxxx", "CreateDoctor", "Admin")
                </td>
            </tr>
            <tr>
                <td>
                    <a contentid="1" href="~/Lesson/Index?contentID=3">Learn about SQL</a>
                </td>
                <td>
                    @Html.ActionLink("xxxx", "DoctorRegisterProfession", "Doctor")
                </td>
                <td>
                    @Html.ActionLink("xxxx", "CreatePatient", "Admin")
                </td>
            </tr>
        </table>
    </div>
}


